<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Item</title>
    <link rel="stylesheet" href="/css/style.css"></link>
</head>
<body>
    <h1>Crear nuevo ítem de inventario</h1>
    <form action="/inventario" method="POST">
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" required>
        <button type="submit">Crear</button>
    </form>
</body>
</html>