<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" href="/css/style.css"></link>
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/usuarios">Usuarios</a>
            <a href="/carts">Carritos</a>
            <a href="/categorias">Categorias</a>
            <a href="/categorias2">Categroia Video</a>
        </nav>
    </header>
    <h1>Inventario</h1>
    <a href="/inventario/create">Crear nuevo ítem</a>
    <ul>
        <% inventario.forEach(item => { %>
            <a href="/inventario/<%= item.id %>"><li><%= item.descripcion %></li></a>
        <% }); %>
    </ul>
</body>
</html>
