<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Categoría</title>
    <link rel="stylesheet" href="/css/style.css"></link>
</head>
<body>
    <h1>Crear Nueva Categoría</h1>
    <form action="/categorias2" method="post">
        <label for="nombre">Nombre de la Categoría</label>
        <input type="text" id ="nombre" name="nombre" required>
        <button type="submit">Crear</button>
    </form>
</body>
</html>