<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel= "stylesheet" href="/css/style.css"></link>
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/usuarios">Usuarios</a>
            <a href="/carts">Carritos</a>
            <a href="/categorias">Categorias</a>
            <a href="/inventario">Inventario</a>
        </nav>
    </header>
    <h1>Categorias</h1>
    <a href="/categorias2/create">Crear Nueva Categoria</a>
    <ul>
        <%categorias.forEach(categoria => { %>
            <a href="/categorias2/<%= categoria.id %>"><li><%= categoria.nombre %></li></a>
        <%}); %>
    </ul>
</body>
</html>